/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/08/2017, 20:18:30
    Author     : rcorrent
*/
form#form-ficha{
    width: 500px;    
}
form#form-ficha h2{
    text-align: center;
}
form#form-ficha table#table-ficha{
    width: 500px;
    font-family: Arial;
    font-size: 16px;
}

form#form-ficha table#table-ficha td{
    padding: 1px;
    margin: 1px;
}

/* Formatação input text nome e endereço */
.ne{
    width: 360px;
}
/* Formatação input text Rg, Cpf Data */
.rcd{
    text-align: right;
    width: 80%;
}

/* Formatação label */
.descricao{
    width: 140px;
    text-align: left;
    vertical-align: middle;
}

#botao-limpar{
    text-align: center;
}