/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/08/2017, 17:35:30
    Author     : rcorrent
*/
form#form-contato table#table-contato{
    margin-left: auto;
    margin-right: auto;
    color: darkblue;
    font-family: Arial;
    font-size: 12px;
}
form#form-contato table#table-contato td{
    margin: 2px;
    padding: 2px;
}
.descricao{
    text-align: right;
}
.campo-texto{
    
}
.txt-mensagem{
    
}