<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PrimitiveHttpServlet</servlet-name>
        <servlet-class>PrimitiveHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeaderListServlet</servlet-name>
        <servlet-class>HeaderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpRequestDemoServlet</servlet-name>
        <servlet-class>HttpRequestDemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpRequestParameterServlet</servlet-name>
        <servlet-class>HttpRequestParameterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HttpRequestMultipleParameterServlet</servlet-name>
        <servlet-class>HttpRequestMultipleParameterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServletWithSendError</servlet-name>
        <servlet-class>LoginServletWithSendError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookiesLoginServlet</servlet-name>
        <servlet-class>CookiesLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentServlet</servlet-name>
        <servlet-class>ContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrimitiveHttpServlet</servlet-name>
        <url-pattern>/PrimitiveHttpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeaderListServlet</servlet-name>
        <url-pattern>/HeaderListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpRequestDemoServlet</servlet-name>
        <url-pattern>/HttpRequestDemoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpRequestParameterServlet</servlet-name>
        <url-pattern>/HttpRequestParameterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HttpRequestMultipleParameterServlet</servlet-name>
        <url-pattern>/HttpRequestMultipleParameterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServletWithSendError</servlet-name>
        <url-pattern>/LoginServletWithSendError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookiesLoginServlet</servlet-name>
        <url-pattern>/CookiesLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentServlet</servlet-name>
        <url-pattern>/ContentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
